<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="contact-styles.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/e6596a9400.js" crossorigin="anonymous"></script>
    <script src="contact-script.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,200&display=swap" rel="stylesheet">
    <title>İletişim</title>
</head>
<body>
    <header>
        <div class="nav-bar">
            <div class="header-logo">
                <h2 id="main-logo">Fatma Şahin</h2>
            </div>
            <div class="navbar-contents">
                <ul class="navbar-list">
                    <li ><a class="navbar-link" href="../index.html">Ana Sayfa</a></li>
                    <li ><a class="navbar-link" href="./biography.html">Biyografi</a></li>
                    <li ><a class="navbar-link" href="#">Foto Galeri</a></li>
                    <li ><a class="navbar-link" href="#">Haberler</a></li>
                    <li ><a class="navbar-link" id="current-page" href="./contact.html">İletişim</a></li>
                </ul>
            </div>
            <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </header>
    <main>
        <div class="contact-container">
            <h1>İletişim</h1>
            <p>Aşağıdaki iletişim seçenekleri üzerinden bizimle iletişime geçebilirsiniz.</p>
            <p><b>Adres:</b> İncilipınar Mah. Şehit Yusuf Erin Cad. Büyükşehir Belediyesi Binası Şehitkamil / GAZİANTEP</p>
            <p><b>Telefon:</b> 0342 909 2727</p>
            <p><b>E-Mail:</b> iletisim@gaziantep.bel.tr</p>
            <p>
                <b>Sosyal Medya:</b> 
                <a href="#">Facebook</a> | <a href="#">Twitter</a> | <a href="#">Instagram</a> 
                | <a href="#">YouTube</a> | <a href="#">LinkedIn</a>
            </p>
        </div>
        <div class="contactInfo-container">
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d101876.1498965939!2d37.373563!3d37.066307!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1531e14f3689684b%3A0x9b5a1b94152c1998!2sGaziantep%20B%C3%BCy%C3%BCk%C5%9Fehir%20Belediyesi!5e0!3m2!1str!2str!4v1691050934610!5m2!1str!2str" width="500" height="375" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="contactText-container">
                <h2>İletişim Formu</h2>
                <div>
                    <p>Adınız (gerekli)</p>
                    <input type="text">
                </div>
                <div>
                    <p>E-posta adresiniz (gerekli)</p>
                    <input type="email">
                </div>
                <div>
                    <p>Konu</p>
                    <input type="text">
                </div>
                <div>
                    <p>Mesajınız</p>
                    <textarea name="message"></textarea>
                </div>
                <button>Gönder</button>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-title">
            Fatma Şahin - Gaziantep Büyükşehir Belediye Başkanı
        </div>
        <div class="social-container">
            <ul class="socialList-footer">
                <li>
                    <a href="https://www.facebook.com/" target="_blank">
                        <button class="footer-socialBtn">
                            <i class="fab fa-facebook"></i>
                            <span>Facebook</span>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com/" target="_blank">
                        <button class="footer-socialBtn">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/" target="_blank">
                        <button class="footer-socialBtn">
                            <i class="fab fa-youtube"></i>
                            <span>Youtube</span>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank">
                        <button class="footer-socialBtn">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                        <button class="footer-socialBtn">
                            <i class="fab fa-linkedin"></i>
                            <span>LinkedIn</span>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitch.com/" target="_blank">
                        <button class="footer-socialBtn">
                            <i class="fab fa-twitch"></i>
                            <span>Twitch</span>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="https://www.telegram.com/" target="_blank">
                        <button class="footer-socialBtn">
                            <i class="fab fa-telegram"></i>
                            <span>Telegram</span>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="https://www.tiktok.com/" target="_blank">
                        <button class="footer-socialBtn">
                            <i class="fab fa-tiktok"></i>
                            <span>TikTok</span>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>
</body>
</html>